@media (max-width: 2000px) {
    .top {
        &__inner {
            &::after {
                height: 570px;
            }
        }
        &__slider-title {
            font-size: 62px;
            line-height: 74px;
        }
        &__slider-img {
            height: 640px;
            margin-left: -10%;
            min-width: 650px;
        }
        &__slider-info {
            margin-right: 25px;
        }
    }
    .rightside-menu {
        max-width: 600px;
        padding-top: 20px;
        &__content {
            max-width: 350px;
        }
        &__close {
            width: 15px;
        }
        &__images {
            width: 100%;
        }
        &__logo {
            width: 150px;
        }
        &__title {
            font-size: 30px;
            margin-bottom: 20px;
            padding-bottom: 5px;
        }
        &__text {
            margin-bottom: 40px;
        }
    }
    .gallery {
        &__inner {
            width: 55%;
            margin: 0 auto;
        }
        &__btn {
            padding: 5px 12px;
            font-size: 13px;
        }
        &__items {
            grid-gap: 20px 20px;
        }
    }
    .blog-box {
        padding-top: 50px;
        &__items {
            max-width: 900px;
            margin: 0 auto;
        }
    }
    .partners {
        padding: 60px 0 60px;
        &__item {
            width: 60%;
        }
    }
}

@media (max-width: 1700px) {
    .gallery {
        &__inner {
            width: 65%;
        }
    }
    .blog-box {
        &__items {
            max-width: 800px;
        }
    }
    .inspiration__images {
        margin-left: -115px;
    }
    .contact-slider {
        &__img {
            width: 100%;
            padding: 5px;
        }
    }
}

@media (max-width: 1500px) {
    .inspiration {
        &__images {
            margin-left: -65px;
            margin-right: 50px;
            max-width: 390px;
        }
        &__text {
            margin-bottom: 47px;
        }
    }
}

@media (max-width: 1400px) {
    .gallery {
        &__inner {
            width: 75%;
        }
    }
}

@media (max-width: 1366px) {
    .collection {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        grid-gap: 20px;
        &__item {
            width: 25%;
        }
        &__images {
            min-height: 220px;
        }
    }
}

@media (max-width: 1300px) {
    .rightside-menu {
        max-width: 500px;
        &__content {
            max-width: 330px;
        }
        &__close {
            margin-left: 20px;
            margin-bottom: 30px;
        }
        &__logo {
            width: 120px;
            margin-bottom: 30px;
        }
        &__title {
            font-size: 25px;
            margin-bottom: 30px;
            padding-bottom: 10px;
        }
        &__text {
            font-size: 14px;
            line-height: 23px;
            margin-bottom: 50px;
        }
    }
    .top {
        &__inner {
            &::after {
                height: 450px;
            }
        }
        &__slider-img {
            height: 500px;
            margin-left: 0;
            min-width: 500px;
        }
        &__slider-info {
            margin-right: 35px;
        }
    }
    .decor {
        &__title,
        &__text {
            margin-left: 30px;
        }
    }
    .works-path {
        &__items {
            max-width: 80%;
            margin: 0 auto;
            display: table;
        }
    }
    .blog-box {
        padding-top: 30px;
        &__items {
            max-width: 800px;
        }
        &__title {
            font-size: 30px;
        }
        &__item-title {
            font-size: 20px;
            line-height: 28px;
        }
    }
    .about {
        &__content {
            padding: 100px 0 40px;
        }
        &__title {
            font-size: 34px;
        }
        &__text {
            padding-right: 20px;
        }
    }
    .inspiration {
        &__content {
            max-width: 670px;
            margin-right: 10px;
        }
        &__images {
            margin-left: 0;
            margin-right: 50px;
            max-width: 370px;
        }
        &__text {
            margin-bottom: 20px;
        }
    }
    .blog {
        &__inner {
            margin: 0 20px;
        }
        &__items {
            max-width: 630px;
        }
        &__item-img {
            max-width: 100%;
        }
    }
    .aside {
        width: 300px;
    }
}

@media (max-width: 1200px) {
    .footer {
        &__inner {
            padding: 0 30px 60px;
        }
    }
    .map {
        height: 450px;
    }
    .contact {
        &__title {
            font-size: 32px;
            margin-bottom: 30px;
            padding-bottom: 20px;
        }
        &__text {
            font-size: 15px;
            line-height: 25px;
            padding-bottom: 20px;
        }
        .contact__social {
            padding-left: 215px;
        }
        &__box,
        &__form {
            padding-left: 215px;
        }
        &__box {
            max-width: 900px;
        }
        &__form {
            max-width: 900px;
        }
        &__form-input,
        &__form-area {
            &::placeholder {
                font-size: 14px;
            }
        }
    }
}

@media (max-width: 1100px) {
    .top {
        &__inner {
            &::after {
                height: 360px;
            }
        }
        &__slider-img {
            height: 400px;
            min-width: 430px;
        }
    }
    .works-path {
        &__items-box {
            display: inline-flex;
        }
        &__items {
            max-width: 80%;
        }
        &__title {
            font-size: 30px;
        }
        &__item-text {
            font-size: 14px;
        }
    }
    .gallery {
        &__inner {
            width: 80%;
        }
        &__buttons {
            width: 50%;
            margin: 0 auto 30px;
        }
        &__btn {
            margin: 7px;
        }
    }
    .blog-box {
        padding-top: 30px;
        &__items {
            max-width: 700px;
        }
        &__item-title {
            font-size: 16px;
            line-height: 23px;
        }
        &__links {
            margin-bottom: 10px;
            font-size: 12px;
            line-height: 20px;
        }
        &__img-link {
            margin-bottom: 5px;
        }
    }
    .about {
        &__content {
            padding: 80px 0 40px;
        }
        &__title {
            margin: 0 20px;
            font-size: 30px;
            line-height: 45px;
        }
        &__text {
            margin-top: 10px;
        }
        &__popup {
            min-height: 370px;
        }
        &__popup-imgbtn {
            max-width: 80%;
        }
    }
    .inspiration {
        &__content {
            max-width: 580px;
        }
        &__images {
            max-width: 300px;
        }
        &__text {
            margin-bottom: 20px;
        }
    }
    .partners {
        padding: 40px 0 40px;
    }
    .blog {
        &__items {
            max-width: 550px;
        }
        &__category-link {
            font-size: 14px;
        }
        &__category-item {
            margin-bottom: 5px;
        }
        &__tags-link {
            font-size: 12px;
        }
    }
    .recent-posts {
        &__item-title {
            font-size: 14px;
            line-height: 23px;
        }
        &__date,
        &__autor {
            font-size: 13px;
        }
    }
    .aside {
        width: 250px;
    }
    .blog-one {
        &__link {
            &::before {
                width: 8px;
                background-size: cover;
                height: 15px;
            }
        }
        &__comments-title {
            font-size: 16px;
            margin-bottom: 25px;
        }
        &__comments-text {
            font-size: 15px;
        }
        &__form-textarea,
        &__form-input {
            &::placeholder {
                font-size: 14px;
            }
        }
        &__form-btn {
            padding: 6px 45px;
        }
    }
    .footer {
        &__form {
            flex-wrap: wrap;
        }
        &__form-button {
            margin-left: 0;
            margin-top: 10px;
        }
        &__menu {
            margin-left: 20px;
        }
        &__info {
            width: 470px;
        }
    }
}

@media (max-width: 995px) {
    .rightside-menu {
        max-width: 400px;
    }
    .slick-dots {
        li {
            margin: 0 10px;
        }
    }
    .footer {
        &__info {
            width: 380px;
        }
    }
    .top {
        &__inner {
            &::after {
                height: 260px;
            }
        }
        &__slider-title {
            font-size: 40px;
            line-height: 74px;
            padding-bottom: 5px;
            margin-bottom: 15px;
        }
        &__slider-img {
            height: 280px;
            min-width: 280px;
        }
        &__slider-info {
            margin-right: 25px;
        }
        &__slider-text {
            max-width: 440px;
            font-size: 15px;
            line-height: 25px;
        }
    }
    .new-collection {
        padding: 0px 0 35px;
        &__text {
            max-width: 500px;
        }
    }
    .collection {
        max-width: 70%;
        margin: 0 auto;
        &__item {
            width: 35%;
        }
        &__images {
            min-height: 120px;
        }
    }
    .decor {
        &__title {
            font-size: 50px;
            line-height: 55px;
        }
    }
    .works-path {
        &__items {
            max-width: 90%;
        }
        &__item--production {
            margin-left: 220px;
        }
        &__item--measurements {
            margin-left: 255px;
        }
    }
    .blog-box {
        &__items {
            max-width: 650px;
        }
        &__title {
            font-size: 28px;
        }
    }
}

@media (max-width: 920px) {
    .contact {
        &__title {
            font-size: 27px;
            margin-bottom: 20px;
            padding-bottom: 10px;
            margin-left: 10px;
        }
        &__phone,
        &__st,
        &__city {
            font-size: 14px;
        }
        &__box {
            max-width: 700px;
        }
        &__form {
            max-width: 700px;
        }
        &__form-input,
        &__form-area {
            border-radius: 15px;
            &::placeholder {
                font-size: 12px;
            }
        }
    }
    .contact-slider {
        .slick-list {
            height: 180px;
        }
    }
}

@media (max-width: 900px) {
    .blog-box {
        &__items {
            max-width: 600px;
        }
        &__title {
            font-size: 25px;
        }
    }
    .about {
        &__content {
            padding: 50px 0 40px;
        }
        &__title {
            font-size: 27px;
            line-height: 40px;
        }
        &__text {
            font-size: 14px;
            padding-left: 220px;
        }
    }
    .inspiration {
        padding-top: 80px;
        &__content {
            max-width: 500px;
        }
        &__images {
            max-width: 250px;
            margin-right: 20px;
        }
        &__text {
            font-size: 14px;
        }
        &__title {
            font-size: 30px;
            padding-bottom: 8px;
            margin-bottom: 16px;
        }
        &__item-text,
        &__num {
            font-size: 14px;
        }
    }
    .blog {
        &__item {
            margin-bottom: 50px;
        }
        &__items {
            max-width: 480px;
        }
        &__item-info {
            padding: 10px 0 10px;
            font-size: 13px;
        }
        &__item-title {
            font-size: 22px;
            line-height: 32px;
        }
        &__item-text {
            font-size: 14px;
        }
        &__category-title,
        &__tags-title {
            font-size: 15px;
            margin-bottom: 10px;
        }
        &__blockquote {
            padding: 40px 40px;
            font-size: 20px;
            line-height: 32px;
        }
        &__item-play {
            max-width: 70%;
        }
    }
    .recent-posts {
        &__title {
            font-size: 15px;
            margin-bottom: 10px;
        }
    }
    .aside {
        &__search-input {
            padding: 3px 45px 3px 18px;
            &::placeholder {
                font-size: 12px;
            }
        }
        &__search-btn {
            top: 8px;
        }
    }
    .map {
        height: 350px;
    }
}

@media (max-width: 840px) {
    .rightside-menu {
        max-width: 400px;
        &__content {
            max-width: 330px;
        }
        &__close {
            margin-left: 20px;
            margin-bottom: 30px;
        }
        &__logo {
            width: 120px;
            margin-bottom: 30px;
        }
        &__title {
            font-size: 25px;
            margin-bottom: 30px;
            padding-bottom: 10px;
        }
        &__text {
            font-size: 14px;
            line-height: 23px;
            margin-bottom: 50px;
        }
    }
    .slick-dots {
        margin-top: 30px;
    }
    .top {
        &__slider-info {
            margin-left: 60px;
        }
        &__slider-title {
            font-size: 25px;
        }
        &__slider-img {
            height: 250px;
            margin-left: -10%;
        }
        &__slider-text {
            font-size: 14px;
            min-width: 400px;
            width: 400px;
        }
    }
    .new-collection {
        &__text {
            max-width: 330px;
        }
        &__title {
            font-size: 30px;
            padding-bottom: 15px;
            margin-bottom: 15px;
        }
    }
    .collection {
        max-width: 85%;
        grid-gap: 10px;
    }
    .works-path {
        &__item--production {
            margin-left: 180px;
        }
        &__item--measurements {
            margin-left: 235px;
        }
        &__item-title {
            font-size: 15px;
        }
        &__item-text {
            font-size: 13px;
            line-height: 23px;
        }
        &__item-img {
            width: 25px;
        }
    }
    .gallery {
        &__inner {
            width: 90%;
        }
        &__items {
            grid-gap: 15px 15px;
        }
        &__buttons {
            width: 70%;
        }
    }
    .about {
        &__prev {
            padding: 130px 0;
        }
        &__prev-title {
            font-size: 50px;
        }
    }
    .partners {
        padding: 30px 0 30px;
        &__item {
            width: 80%;
        }
    }
    .blog {
        &__items {
            max-width: 390px;
        }
        &__item-title {
            font-size: 20px;
            line-height: 26px;
        }
        &__item-text {
            font-size: 13px;
            line-height: 23px;
        }
        &__item-info {
            font-size: 12px;
        }
        &__blockquote {
            padding: 30px 30px;
            font-size: 16px;
            line-height: 23px;
        }
        &__blockquote-author {
            font-size: 15px;
            margin-top: 15px;
            padding-top: 15px;
        }
        &__category-item {
            margin-bottom: 0px;
        }
    }
    .recent-posts {
        &__date,
        &__autor {
            font-size: 11px;
        }
    }
    .blog-one {
        &__item p {
            font-size: 13px;
        }
        &__tags-link {
            margin-right: 5px;
            font-size: 12px;
        }
        &__link {
            font-size: 12px;
            line-height: 20px;
        }
        &__link-next {
            padding-right: 25px;
        }
        &__link-prev {
            padding-left: 25px;
        }
        &__item {
            blockquote {
                font-size: 20px;
            }
        }
        &__comments-avatar {
            width: 50px;
            height: 50px;
        }
        &__comments-text {
            font-size: 14px;
            line-height: 23px;
        }
        &__form-textarea {
            min-height: 100px;
        }
    }
    .footer {
        &__social {
            margin-left: 65px;
        }
        &__form-input {
            padding: 5px 7px 5px 13px;
            border-radius: 13px;
            &::placeholder {
                font-size: 15px;
            }
        }
    }
}

@media (max-width: 769px) {
    .slick-dots {
        margin-top: 40px;
    }
    .header {
        &__btn {
            display: none;
        }
    }
    .top {
        &__inner {
            &::after {
                height: 240px;
            }
        }
        &__slider-info {
            margin-left: 20px;
        }
        &__slider-img {
            height: 220px;
            margin-left: -5%;
            min-width: 200px;
        }
    }
    .menu {
        &__list-item {
            padding-left: 0;
            & + .menu__list-item {
                padding-right: 0;
            }
        }
    }
    .logo {
        margin: 0;
    }
    .decor {
        padding: 100px 0 100px;
        &__title {
            font-size: 40px;
            line-height: 45px;
        }
        &__text {
            font-size: 15px;
            line-height: 23px;
        }
    }
    .new-collection {
        padding: 0;
    }

    .works-path {
        &__item--production {
            margin-left: 140px;
        }
        &__item--measurements {
            margin-left: 205px;
        }
        &__item {
            width: 200px;
        }
        &__item-img {
            width: 20px;
        }
        &__item-title {
            margin-left: 8px;
            font-size: 14px;
        }
        &__item-text {
            margin-top: 5px;
        }
    }
    .blog-box {
        padding-top: 0px;
        &__items {
            max-width: 450px;
            display: block;
        }
        &__item {
            margin-bottom: 35px;
        }
        &__title {
            min-width: 200px;
            max-width: 310px;
            margin: 0 auto 35px;
            line-height: 30px;
        }
        &__links {
            margin-bottom: 5px;
        }
        &__img-link {
            margin-bottom: 0px;
        }
    }
    .about {
        &__popup {
            min-height: 300px;
        }
        &__popup-imgbtn {
            max-width: 70%;
        }
    }
    .inspiration {
        &__content {
            max-width: 480px;
            text-align: center;
        }
        &__images {
            display: none;
        }
        &__title {
            font-size: 27px;
            padding-bottom: 4px;
            margin-bottom: 8px;
            &::after {
                right: 0;
                margin: 0 auto;
                width: 80%;
            }
        }
    }
    .blog {
        padding: 35px 0 55px;
        &__inner {
            flex-direction: column;
            align-items: center;
        }
        &__items {
            max-width: 100%;
        }
    }
    .aside {
        order: -1;
        margin-bottom: 75px;
        width: 100%;
    }
    .contact {
        &__title {
            font-size: 25px;
            margin-bottom: 15px;
            padding-bottom: 0;
            margin-left: 10px;
        }
        &__box {
            max-width: 500px;
        }
        &__form {
            max-width: 500px;
            flex-direction: column;
            align-items: center;
        }
        &__form-input,
        &__form-area {
            width: 100%;
        }
        &__form-btn {
            width: 130px;
            padding: 5px;
        }
    }
    .footer {
        &__inner {
            flex-wrap: wrap;
            justify-content: center;
            padding: 0 30px 30px;
        }
        &__info {
            width: 100%;
            margin-bottom: 50px;
        }
        &__info-text {
            max-width: 100%;
        }
        &__menu {
            margin-left: auto;
            margin-right: auto;
        }
        &__social {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@media (max-width: 650px) {
    .top {
        &__inner {
            padding-top: 30px;
            padding-bottom: 25px;
        }
        &__slider-item {
            .top__slider-img {
                display: none;
            }
        }
        &__slider-text {
            margin-bottom: 35px;
            width: 460px;
        }
        &__slider-info {
            margin: 0 0;
        }
    }
    .collection {
        &__info-title {
            font-size: 16px;
        }
    }
    .works-path {
        padding: 40px 0 0px;
        &__item--production {
            margin-left: 120px;
        }
        &__item--measurements {
            margin-left: 170px;
        }
        &__item {
            width: 160px;
        }
        &__item-img {
            display: none;
        }
        &__item-title {
            margin-left: 0;
            line-height: 23px;
        }
        &__item-text {
            margin-top: 5px;
        }
        &__item--measurements {
            padding-top: 30px;
        }
        &__item--consultation,
        &__item--production {
            padding-bottom: 30px;
        }
        &__title {
            font-size: 27px;
            margin-bottom: 0px;
        }
    }
    .gallery {
        &__inner {
            width: 95%;
        }
        &__items {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            grid-gap: 10px 10px;
        }
        &__item {
            width: 40%;
            height: 255px;
        }
        &__buttons {
            width: 80%;
            margin: 0 auto 25px;
        }
        &__btn {
            padding: 2px 10px;
            font-size: 12px;
            border-radius: 10px;
        }
    }
    .about {
        &__content {
            padding: 50px 0 20px;
        }
        &__title {
            font-size: 25px;
            line-height: 35px;
            text-align: center;
            &::after {
                right: 0;
                margin: 0 auto;
                width: 80%;
            }
        }
        &__text {
            font-size: 13px;
            line-height: 23px;
            padding: 20px 20px 0 20px;
            text-align: center;
        }
        &__popup {
            min-height: 270px;
        }
        &__popup-imgbtn {
            max-width: 70%;
        }
    }
    .map {
        height: 250px;
    }
}

@media (max-width: 540px) {
    .logo {
        order: -1;
        position: relative;
        z-index: 12;
    }
    .header {
        &__inner {
            flex-wrap: wrap;
            padding-top: 42px;
        }
        &__btn-menu {
            position: relative;
            z-index: 12;
            display: block;
            background-color: transparent;
            border: none;
            cursor: pointer;
            order: -1;
            span {
                background-color: #000;
                width: 37px;
                height: 3px;
                border-radius: 4px;
                display: block;
                margin: 6px 0;
            }
        }
    }
    .top {
        &__slider-text {
            margin-bottom: 20px;
            width: 350px;
            min-width: 350px;
        }
    }
    .menu {
        padding-right: 0;
        width: 100%;
        background-color: #fff;
        position: relative;
        z-index: 11;
        text-align: center;
        transform: translateY(-350px);
        transition: all 0.5s;
        &--open {
            transform: translateY(30px);
        }
        &__list {
            display: block;
        }
        &__list-item {
            padding-right: 0;
        }
        &__list-link {
            display: block;
            padding: 15px 0;
        }
    }
    .new-collection {
        &__title {
            font-size: 25px;
            padding-bottom: 10px;
            margin-bottom: 10px;
        }
        &__text {
            max-width: 330px;
            font-size: 14px;
            line-height: 23px;
        }
    }
    .collection {
        max-width: 100%;
        &__info-title {
            font-size: 15px;
        }
    }
    .blog-box {
        padding-bottom: 50px;
        &__items {
            max-width: 370px;
        }
        &__item {
            margin-bottom: 30px;
        }
        &__title {
            max-width: 200px;
            margin: 0 auto 30px;
            font-size: 22px;
        }
    }
    .about {
        &__prev {
            padding: 100px 0;
        }
        &__prev-title {
            font-size: 40px;
        }
    }
    .partners {
        padding: 20px 0 20px;
        &__item {
            width: 90%;
        }
    }
    .contact {
        padding-bottom: 50px;
        &__title {
            font-size: 25px;
            text-align: center;
            margin-bottom: 20px;
            &::after {
                right: 0;
                margin: 0 auto;
            }
        }
        .contact__social {
            padding: 0;
            justify-content: center;
        }
        &__box {
            width: 100%;
            padding: 15px;
        }
        &__form {
            width: 100%;
            padding: 15px;
        }
    }
}

@media (max-width: 500px) {
    .slick-dots li {
        margin: 0 5px;
    }
    .collection {
        &__info {
            padding: 5px;
        }
        &__info-title {
            font-size: 15px;
            line-height: 20px;
        }
        &__info-text {
            font-size: 12px;
            line-height: 15px;
        }
    }
    .decor {
        padding: 70px 0 70px;
        &__title {
            font-size: 30px;
            line-height: 35px;
        }
        &__text {
            font-size: 13px;
            line-height: 20px;
        }
    }
    .works-path {
        padding: 20px 0 0px;
        &__title {
            font-size: 22px;
            margin-bottom: 10px;
        }
        &__item-text {
            font-size: 12px;
            line-height: 19px;
        }
        &__item-title {
            line-height: 19px;
        }
        &__item {
            width: 120px;
        }
        &__items-box::before {
            width: 8px;
            height: 8px;
        }
        &__item--measurements::before {
            height: 15px;
        }
        &__item--production::after {
            height: 15px;
        }
        &__item--measurements {
            margin-left: 135px;
        }
        &__item--production {
            margin-left: 100px;
        }
        &__item--consultation,
        &__item--production {
            padding-bottom: 25px;
        }
        &__item--measurements {
            padding-top: 25px;
        }
    }
    .gallery {
        &__item {
            width: 45%;
            height: 235px;
        }
        &__buttons {
            width: 100%;
            margin: 0 auto 20px;
        }
        &__btn {
            padding: 2px 20px;
            border-radius: 7px;
        }
    }
    .about {
        &__title {
            font-size: 23px;
            line-height: 30px;
            margin: 0;
        }
        &__text {
            font-size: 12px;
            line-height: 20px;
            padding: 10px 10px 0 10px;
        }
        &__popup {
            min-height: 230px;
        }
        &__popup-imgbtn {
            max-width: 70%;
        }
    }
    .inspiration {
        padding-top: 50px;
        &__content {
            max-width: 370px;
        }
        &__text {
            font-size: 13px;
            line-height: 20px;
            padding-bottom: 15px;
        }
        &__title {
            font-size: 23px;
            padding-bottom: 0px;
            margin-bottom: 5px;
        }
        &__item-text,
        &__num {
            font-size: 13px;
        }
    }
    .blog-one {
        &__form {
            flex-direction: column;
        }
        &__form-input {
            width: 100%;
        }
        &__form-btn {
            width: 150px;
        }
    }
}

@media (max-width: 375px) {
    .top {
        &__slider-text {
            margin-bottom: 20px;
            width: 300px;
            min-width: 300px;
        }
    }
    .footer {
        &__content {
            padding: 35px 0 0px;
        }
        &__inner {
            justify-content: space-between;
            padding: 0 0 25px;
        }
        &__social {
            margin-left: 0;
        }
        &__social-item,
        &__menu-item {
            margin-bottom: 10px;
        }
        &__form-button {
            width: 100%;
            margin-left: 0;
            margin-top: 10px;
        }
        &__copyright {
            padding: 25px 0 25px;
        }
        &__form {
            padding: 10px;
            justify-content: center;
        }
        &__form-button {
            min-width: 100px;
            max-width: 100px;
            font-size: 14px;
            padding: 5px 8px;
        }
        p {
            font-size: 12px;
        }
        &__info {
            margin-bottom: 25px;
        }
        &__form-input {
            padding: 3px 7px 3px 15px;
            &::placeholder {
                font-size: 12px;
            }
        }
    }
    .new-collection {
        &__title {
            font-size: 20px;
            padding-bottom: 0px;
            margin-bottom: 10px;
        }
        &__text {
            max-width: 300px;
            font-size: 13px;
        }
    }
    .gallery {
        &__inner {
            width: 100%;
        }
        &__item {
            width: 48%;
            height: 200px;
        }
        &__btn {
            padding: 2px 10px;
        }
    }
}
